p {
    text-align: center;
    color: blue;
}
ul#top_menu {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
ul#top_menu > li {
    float: left;
}
ul#right_menu {
    float: right;
    border: 1px solid #ff0000;
    width: 200px;
    /*position:absolute;*/
    /*right: 0;*/
    /*top: 150px;*/
}
ul#top_menu > li > a,
ul#right_menu > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
ul#right_menu > li > a {
    text-align: left;
}
ul#top_menu > li > a:hover,
ul#right_menu > li > a:hover {
    background-color: black;
}
img {
    text-align: center;
    width: 400px;
    height: 400px
}
#table {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: left;
    margin-top: 0px;
}
#sidenav {
    height: auto;
    width: 160px;
    position: fixed;
    background-color: black;
    padding: 20px;
    float: right;
}
#sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

